body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}
.main-inner .hd-top {
  position: relative;
}
.main-inner .hd-top .top-menu li:nth-child(1)::before {
  display: none;
}

.top-menu .login-type {
  color: #666;
  font-weight: 600;
}
.hd-top .top-menu li::before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.top-menu li a {
  display: block;
  padding: 0 5px;
  padding-left: 8px;
  height: 15px;
  font-size: 11px;
  color: #999;
  font-weight: 400;
}
.main-menu {
  display: flex;
  height: 100%;
  margin-left: 35px;
}

.hd-top .lang {
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
}
select option[value="lang"][disabled]
{
  display: none;
}

.main-menu > .item {
  cursor: pointer;
  z-index: 15;
}

.main-menu > .item:hover >.item__contents {
  display: flex;

}
.main-menu > .item + .item {
  margin-left: 30px;
}

.main-menu > .item > a {
  font-size: 17px;
  font-weight: 600;
  padding: 20px;

  color: #111;

}
.main-menu > .item > a:hover {
  color: #ef4223;
}
.menu_box, .menu_text {
  border-left: 1px solid #e7e7e7;
  padding: 20px 10px 20px 20px;
  height: 330px;
}
.menu_text {
  border: none;
}
.menu_box h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 30px;
}
.menu_box > ul > li > ul > li {
  font-size: 13px;
  padding-left: 9px;
}
.contents__menu > ul {
  display: flex;
  justify-content: center;
}
.menu_text > .title {
  color: #333;
  font-size: 28px;
  margin: 0 0 15px;
}
.menu_text >  p:not(.title) {
  font-size: 14px;
  color: #999;
}
.btn-spon {
  display: flex;
  text-align: center;
  border-left: 1px solid #e7e7e7;
}

.btn-spon .btn-search {
  display: block;
  width: 60px; 
  margin: 20px 10px;
}

.btn-spon .btn-search:hover {
  background: url(../images/search2.png) center no-repeat;
}

.btn_sponer {
    display: block;
    width: 190px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    background: #ef4223;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn_sponer:hover {
  background-color: crimson;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .hd-top {
  width: 100%;
  background-color: #f9f9f9;
  height: 36px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top-menu li {
  padding: 0px 5px;
  font-size: 12px;
}
.item__contents {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 343px;
  background-color: #f9f9f9;
  margin-top: 26px;
}

.contents__menu {
  width: 100%;
}

.contents__menu > .inner {
  padding-top: 10px;
}

.main-title {
  text-align: center;
  clear: both;
  padding: 50px 0;
  position: relative;
}
.main-title p {
  font-size: 28px;
  color: #333;
  font-family: IropkeBatangM, 'Noto Sans KR', sans-serif;
  font-weight: normal;
}
.main-title p .point {
  font-size: 28px;
  color: #ef4223;
}
.main-title span.line {
  width: 1px;
  height: 55px;
  background: #333;
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
}
.notice {
  height: 30px;
  padding: 10px 0;
  overflow: hidden;
  
}
.notice .inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.main_panel {
  background: #6c717a url(../images/disaster_bg.jpg) top center no-repeat;
  padding: 100px 0 ;
} 
.btn_intro {
  color: #fff;
  border: 1px solid #fff;
}
.title_wrap {
  margin-top: 26px;
  text-align: center;
}
.btn_intro {
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}

.btn_intro:hover {
  color: #ef4023;
  border-color: #ef4023;
}
.btn_wrap {
  text-align: center;
  margin-top: 26px;
}
.sub_title_top {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #ef4023;
}
.sub_title_center {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.sub_title_box {
  margin-bottom: 40px;
  text-align: center;
}

.title_panel {
  padding: 100px 0;
}
.sub_title_bottom {
  margin-top: 16px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.desc_top {
  font-weight: 600;
  font-size: 16px;
  color: #ef4023;
  text-align: center;
}
.desc_center {
  font-size: 34px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.desc_bottom {
  margin-top: 16px;
  font-size: 16px;
  color: #666;
  text-align: center;
  font-weight: 700;
}
.conains {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1180px;

  
}
/* slider */

.slide {
  position: relative;
}
.panel_slider {
  padding: 100px 0;
}

.slide .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url(/images/img11.jpg);
  width: 13px;
  height: 12px;
}

.swiper-pagination {
  position: absolute;
  top: 90%;
}
.swiper-btn-prev {
  /* background-image: url('/images/slide_prev2_mobile.png') no-repeat; */
  cursor: pointer;
  position: absolute;
  top: 40%;
  z-index: 2;
}
.swiper-btn-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 0;
  z-index: 2;
}

.swiper-btn-prev > .prev1 {
  position: absolute;
  left: 40px;
}


.swiper-btn-prev > .prev2 {
  position: absolute;
  left: 40px;
  display: none;
}

.swiper-btn-prev:hover > .prev2{
  display: block;
}

.swiper-btn-next > .next1 {
  position: absolute;
  right: 40px;
}


.swiper-btn-next > .next2 {
  position: absolute;
  right: 40px;
  display: none;
}

.swiper-btn-next:hover > .next2 {
  display: block;
}


.box-area {
  display: flex;
  justify-content: space-between;
  width: 1186px;
  padding-bottom: 20px;
  overflow: hidden;
}

.box-area .box_card {
  width: 24.5%;
  display: block;
  position: relative;
  display: block;
  border: 1px solid #ececec;
  background: #fff;
  padding: 5px;
  margin-left: 5px;
}

.text-box {
  padding: 15px 20px 20px;
  position: relative;
}


.text-box-center {
  font-size: 14px;
  font-weight: 600;
  color: #666;
}

.cate .cate-l {
  font-weight: normal;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    display: block;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    height: 48px;
}

.box_card a img {
  width: 100%;
  height: 278px;
}

.slide_menu {
  margin: 40px auto 0;
  text-align: center;
}

.slide_menu li {
  display: inline-block; 
  vertical-align: middle;
  padding: 0 30px;
}

.slide_menu li + li {
  background: url(../images/sub_tab_line.png) left no-repeat;
}

.slide_menu li a:hover {
  color: #333;
}

.slide_menu li a.active {
  font-weight: 700;
  color: #333;
  text-decoration: underline;
}
.bx-wrapper {
  display: block;
  max-width: 100%;
}
.bx-wrapper .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 532px;
}
.bx-wrapper .bx-viewport .slider1 {
  margin-top: 20px;
  width: 300px;
  display: flex;
  position: absolute;
  top: 0px;
  right: 470px;
  bottom: 0px;
}

.text_box {
  display: block;
  position: absolute;
  width: 100%;
  top: 80px;
  right: 400px;
}
.cate-l {
  display: block;
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  font-weight: 700;
}
.text-cate {
  display: block;
  width: 380px;
  margin-bottom: 30px;
  font-size: 50px;
  color: #3d3d3d;
  font-weight: 600;
}
.text-sub {
  display: block;
  font-size: 17px;
  color: #666;
  margin-bottom: 30px;
  width: 500px;
  font-weight: 600;
}

.btn_blackline {
  color: #333;
  border: 1px solid #333;
}

.btn {
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  height: 36px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}


.btn__wrap {
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  height: 36px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  color: #666;
  border: 1px solid #ccc;
}

.btn__wrap:hover {
  color: #ef4223;
}
.main-bbs {
  padding-bottom: 100px;
}

.main-bbs .inner {
  display: flex;
  justify-content: center;
  border: 1px solid #ececec;
  padding: 10px;
}


.main-bbs .inner .bbs-line {
  width: 1px;
  height: 220px;
  background: #ececec;
}
.main-bbs .inner .btn_menu {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  /* border-top: 1px solid #ececec; */
}
.main-bbs .inner .btn_menu:hover {
  color: red;
}
.main-bbs .inner .bbs-right {
  margin-right: 50px;
}
.main-bbs .inner .bbs-left {
  margin-left: 50px;
}

.bbs_title_font {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.bbs_title_font .btn {
  font-size: 16px;
  color: #333;
}

.main-bbs .inner ul li {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border-top: 1px solid #ececec;
}
.main-bbs .inner ul li a {
display: block;
}

.main-bbs .inner ul li a span {
  /* padding: 10px 0; */
  /* display: block; */
}
.main-bbs .inner ul li span.date{
  display: block;
  margin-left: 50px;
  color: #999;
  text-align: right;
  width: 12%;
  font-weight: 600;
}
.youtube {
  background-color: #f8f8f8;
  position: relative;
}
.youtube .contains {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1180px;
  padding: 100px 0;
  height: 670px;
}
.youtube .contains .video_tab {
  display: table;
  width: 100%;
}
.youtube .contains .video_tab a {
  cursor: pointer;
  display: table-cell;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}

.youtube .contains .video_tab a.active {
  background: #ef4223;
  color: #fff;
}
.iframe_wrap {
  display: block;
  background: #ef4223;
  padding: 3px 3px 1px;
  width: 100%;
  height: 100%;
}
.iframe_wrap iframe {
  width: 100%;
  height: 100%;
}

.newsletter {
  padding: 0;
  border-top: 1px solid #d5d5d5;
  background: #fff;
}

.newsletter .contains {
  margin:  0 auto;
  padding: 0 10px;
  max-width: 1180px;
  position: relative;

}

.newsletter .contains .sub_newsletter {
  text-align: left;
  padding: 30px 0 30px 90px;
  margin: 0;
}

.newsletter_title {
  text-align: left;
  font-size: 22px;
  color: #333;
  font-weight: 600;
}

.desc {
  font-size: 14px;
  margin-top: 5px;
  color: #666;
  font-weight: 600;
}

.newsletter a {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 0;
}

.newsletter_btn {
  color: #fff;
  border: 1px solid #333;
  background: #333;
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}
.newsletter_btn:hover {
  background-color: black;
}

.sub_newsletter {
  display: flex;
  align-items: center;
}
.newsletter_icon {
  margin-right: 20px;
}

.main_footer {
  position: relative;
  background: #333;
}

.main_footer a {
  color: #fff;
}
.main_footer .contains {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1180px;
}

.main_footer .contains .footer_top {

}

.main_footer .footer_bottom {
  padding: 20px 0;
  overflow: hidden;
  background-color: #2c2a2b;
}
.footer_top {
  display: flex;
  justify-content: space-between;
}
.footer_menu {
  display: flex;
}
.footer_menu li a {
  display: block;
  padding: 0 5px;
  height: 20px;
  font-weight: 600;
  font-size: 13px;
  color: #999;
  margin: 12px;
}

.btn_family {
  display: block;
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  padding: 0 30px 0 15px;
  width: 110px;
  height: 29px;
  line-height: 29px;
  color: #999;
  border: 1px solid #b6b6b6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}

.drop_list {
  position: relative;
    padding: 6px 0;
    border: 1px solid #fff;
    background: #333;
    z-index: 30;
}
.btn_menu {
  display: block;
  line-height: 20px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tit {
  font-size: 1.3em;
  color: #fff;
  padding: 0 10px;
}
.facebook {
  background: url('/images/ft_sns_f.png') no-repeat;
  width: 10px;
}
select option[value="family"][disabled]
{
  display: none;
}

@media screen and (min-width: 1201px) {
.btn_blackline:hover, .btn_iconline:hover {
    color: #ef4223;
    border-color: #ef4223;
  }
}
@media screen and (min-width: 1201px) {
  .box_card a:hover::after {
      content: "";
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      position: absolute;
      top: 0;
      left: 0;
      border: 3px solid #ef4223;
  }
  }