body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
.main-menu {
  display: flex;
}
.main-menu > .item > a {
  font-size: 17px;
  font-weight: 600;
  color: #ef4223;
}
.menu_box, .menu_text {
  border: 1px solid #e7e7e7;
  padding: 20px 10px 20px 20px;
  height: 330px;
}
.menu_text {
  border: none;
}
.menu_box h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 30px;
}
.menu_box > ul > li > ul > li {
  font-size: 13px;
  padding-left: 9px;
}
.contents__menu > ul {
  display: flex;
}
.menu_text > .title {
  color: #333;
  font-size: 28px;
  margin: 0 0 15px;
}
.menu_text >  p:not(.title) {
  font-size: 14px;
  color: #999;
}
.btn-spon {
  display: block;
  width: 76px;
  height: 76px;
  text-align: center;
  line-height: 76px;
  border-left: 1px solid #e7e7e7;
  position: absolute;
  top: 0px;
  right: 190px;
}
.btn_sponer {
    display: block;
    width: 190px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    background: #ef4223;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
    top: 36px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}
.btn_sponer:hover {
  background-color: crimson;
}

.top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
}

header .hd-top {
  width: 100%;
  background-color: #f9f9f9;
  height: 36px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top-menu li {
  padding: 0px 5px;
  font-size: 12px;
}