body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
}

.main-menu {
  display: flex;
  height: 100%;
  margin-left: 35px;
}

.hd-top .lang {
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
}
select option[value="lang"][disabled]
{
  display: none;
}

.main-menu > .item {
  cursor: pointer;
}

.main-menu > .item:hover >.item__contents {
  display: flex;

}
.main-menu > .item + .item {
  margin-left: 30px;
}

.main-menu > .item > a {
  font-size: 17px;
  font-weight: 600;
  padding: 20px;

  color: #111;

}
.main-menu > .item > a:hover {
  color: #ef4223;
}
.menu_box, .menu_text {
  border-left: 1px solid #e7e7e7;
  padding: 20px 10px 20px 20px;
  height: 330px;
}
.menu_text {
  border: none;
}
.menu_box h4 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  line-height: 30px;
}
.menu_box > ul > li > ul > li {
  font-size: 13px;
  padding-left: 9px;
}
.contents__menu > ul {
  display: flex;
  justify-content: center;
}
.menu_text > .title {
  color: #333;
  font-size: 28px;
  margin: 0 0 15px;
}
.menu_text >  p:not(.title) {
  font-size: 14px;
  color: #999;
}
.btn-spon {
  display: flex;
  text-align: center;
  border-left: 1px solid #e7e7e7;
}

.btn-spon .btn-search {
  display: block;
  width: 60px; 
  margin: 20px 10px;
}

.btn-spon .btn-search:hover {
  background: url(../images/search2.png) center no-repeat;
}

.btn_sponer {
    display: block;
    width: 190px;
    height: 76px;
    text-align: center;
    line-height: 76px;
    background: #ef4223;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn_sponer:hover {
  background-color: crimson;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .hd-top {
  width: 100%;
  background-color: #f9f9f9;
  height: 36px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .top-menu li {
  padding: 0px 5px;
  font-size: 12px;
}
.item__contents {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 343px;
  background-color: #f9f9f9;
  margin-top: 26px;
}

.contents__menu {
  width: 100%;
}

.contents__menu > .inner {
  padding-top: 10px;
}

.main-title {
  text-align: center;
  clear: both;
  padding: 50px 0;
  position: relative;
}
.main-title p {
  font-size: 28px;
  color: #333;
  font-family: IropkeBatangM, 'Noto Sans KR', sans-serif;
  font-weight: normal;
}
.main-title p .point {
  font-size: 28px;
  color: #ef4223;
}
.main-title span.line {
  width: 1px;
  height: 55px;
  background: #333;
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
}
.notice {
  /* background: #424953; */
  height: 30px;
  padding: 10px 0;
  overflow: hidden;
  
}
.notice .inner {
  /* background-color: red; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.main_panel {
  background: #6c717a url(../images/disaster_bg.jpg) top center no-repeat;
  padding: 100px 0 ;
} 
.btn_intro {
  color: #fff;
  border: 1px solid #fff;
}
.title_wrap {
  margin-top: 26px;
  text-align: center;
}
.btn_intro {
  padding: 0 20px;
  text-align: center;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}

.btn_intro:hover {
  color: #ef4023;
  border-color: #ef4023;
}
.btn_wrap {
  text-align: center;
  margin-top: 26px;
}

.sub_title_top {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  color: #ef4023;
}
.sub_title_center {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.title_panel {
  padding: 100px 0;
}
.sub_title_bottom {
  margin-top: 16px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.desc_top {
  font-weight: 600;
  font-size: 16px;
  color: #ef4023;
  text-align: center;
}
.desc_center {
  font-size: 34px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.desc_bottom {
  margin-top: 16px;
  font-size: 16px;
  color: #666;
  text-align: center;
  font-weight: 700;
}
.conains {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1180px;

  
}

.box-area {
  display: flex;
  justify-content: space-between;
  width: 1186px;
  padding-bottom: 20px;
  overflow: hidden;
}

.box-area .box_card {
  width: 24.5%;
  display: block;
  position: relative;
  display: block;
  border: 1px solid #ececec;
  background: #fff;
  padding: 5px;
  margin-left: 5px;
}

@media screen and (min-width: 1201px) {
 .box_card a:hover::after {
    content: "";
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #ef4223;
}
}
.text-box {
  padding: 15px 20px 20px;
  position: relative;
}


.text-box-center {
  font-size: 14px;
  font-weight: 600;
  color: #666;
}

.cate .cate-l {
  font-weight: normal;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    display: block;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    height: 48px;
}

.box_card a img {
  width: 100%;
  height: 278px;
}

.slide_menu {
  margin: 40px auto 0;
  text-align: center;
}

.slide_menu li {
  display: inline-block; 
  vertical-align: middle;
  padding: 0 30px;
}

.slide_menu li + li {
  background: url(../images/sub_tab_line.png) left no-repeat;
}

.slide_menu li a:hover {
  color: #333;
}

.slide_menu li a.active {
  font-weight: 700;
  color: #333;
  text-decoration: underline;
}
.bx-wrapper {
  display: block;
  max-width: 100%;
}
.bx-wrapper .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 532px;
}
.bx-wrapper .bx-viewport .slider1 {
  margin-top: 20px;
  width: 300px;
  display: flex;
  position: absolute;
  top: 0px;
  right: 470px;
  bottom: 0px;
}

.text_box {
  display: block;
  position: absolute;
  top: 80px;
  right: 0px;
}